<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.canJ.mapper.FocusTeaMapper" >
  <resultMap id="BaseResultMap" type="com.canJ.pojo.FocusTea" >
    <id column="FocusId" property="focusid" jdbcType="INTEGER" />
    <result column="TeacherId" property="teacherid" jdbcType="INTEGER" />
    <result column="OtherTeacherId" property="otherteacherid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FocusId, TeacherId, OtherTeacherId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.canJ.pojo.FocusTeaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from focus_tea
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from focus_tea
    where FocusId = #{focusid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from focus_tea
    where FocusId = #{focusid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.canJ.pojo.FocusTeaExample" >
    delete from focus_tea
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.canJ.pojo.FocusTea" >
    insert into focus_tea (FocusId, TeacherId, OtherTeacherId
      )
    values (#{focusid,jdbcType=INTEGER}, #{teacherid,jdbcType=INTEGER}, #{otherteacherid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.canJ.pojo.FocusTea" >
    insert into focus_tea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="focusid != null" >
        FocusId,
      </if>
      <if test="teacherid != null" >
        TeacherId,
      </if>
      <if test="otherteacherid != null" >
        OtherTeacherId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="focusid != null" >
        #{focusid,jdbcType=INTEGER},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="otherteacherid != null" >
        #{otherteacherid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.canJ.pojo.FocusTeaExample" resultType="java.lang.Integer" >
    select count(*) from focus_tea
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update focus_tea
    <set >
      <if test="record.focusid != null" >
        FocusId = #{record.focusid,jdbcType=INTEGER},
      </if>
      <if test="record.teacherid != null" >
        TeacherId = #{record.teacherid,jdbcType=INTEGER},
      </if>
      <if test="record.otherteacherid != null" >
        OtherTeacherId = #{record.otherteacherid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update focus_tea
    set FocusId = #{record.focusid,jdbcType=INTEGER},
      TeacherId = #{record.teacherid,jdbcType=INTEGER},
      OtherTeacherId = #{record.otherteacherid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.canJ.pojo.FocusTea" >
    update focus_tea
    <set >
      <if test="teacherid != null" >
        TeacherId = #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="otherteacherid != null" >
        OtherTeacherId = #{otherteacherid,jdbcType=INTEGER},
      </if>
    </set>
    where FocusId = #{focusid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.canJ.pojo.FocusTea" >
    update focus_tea
    set TeacherId = #{teacherid,jdbcType=INTEGER},
      OtherTeacherId = #{otherteacherid,jdbcType=INTEGER}
    where FocusId = #{focusid,jdbcType=INTEGER}
  </update>
</mapper>